{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-3">{{ survey.title }}</h2>
    <img src="{{ survey.image.url }}" alt="Survey Image" class="img-fluid mb-3">
    <div class="row mb-3">
        <div class="col-md-6">
            <audio controls class="w-100">
                <source src="{{ survey.music_file_1.url }}" type="audio/mpeg">
                Your browser does not support the audio tag.
            </audio>
        </div>
        <div class="col-md-6">
            <audio controls class="w-100">
                <source src="{{ survey.music_file_2.url }}" type="audio/mpeg">
                Your browser does not support the audio tag.
            </audio>
        </div>
    </div>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}
